body {
    font-family: 'EB Garamond', serif;
    background-color: #F7E069;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    /* Color de fondo blanco para el encabezado */
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-btn {
    background-color: #ffffff;
    position: relative;
    border: 1px solid #333;
    top: -44px;
    left: 800px;
    color: #000000;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    text-decoration: none;

}

.sobre-panama-btn {
    background-color: #ffffff;
    position: relative;
    border: 1px solid #333;
    top: -44px;
    left: 800px;
    color: #000000;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    text-decoration: none;

}

.contenedor-imagen {
    position: relative;
    width: 100%;
    height: 100%;
    top: -20px;
}

.imagen-portada {
    background-image: url('img/guayacan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(1px);
    height: 60vh;
    width: 100%;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
        /*este es el quez Coloca el texto por encima de la capa de imagen con desenfoque */
}

h1,
h2 {
    margin: 0;
}

.mixto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*parrafo petit solucionar texto*/

.parrafito {
    text-align: left;
    color: #ffffff;
    padding-left: 70px;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 6px;
}

/*este container contiene buscador y botones de categoría*/

input {
    background-color: #cdcdcd;
    border-radius: 20px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 10px;
    margin-left: 100px;
    
}



/* inicio botones categorias*/

.categorias-containier {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'EB Garamond', serif;
    text-align: right; /* este alineación de los botones a la derecha :)*/
    margin-top: 80px auto; /* Aquí  ajusto la separación vertical entre la imagen y el contenedor de botones */
}




button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #5a5a5a;
    color: #fff;
    
}

/*hasta aqui botones*/

/*diseño de cards*/

.card {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 20px;
    margin: 10px; /* Reduce o agranda el margen para separar o juntar*/
    width: 280px; /* Calcula el ancho de cada tarjeta teniendo en cuenta el espacio entre ellas */
    text-align: center;
    box-sizing: border-box;
}  /*hacer que mis cards esten de 3 en 3*/

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    color: #000000;
}

.card p {
    font-size: 20px;
    color: #000000;
}
 
/*fin diseño de cards*/


.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Ajusta el espacio entre las tarjetas según tus necesidades */
    justify-content: space-between;
 }     /*llamar un class -container-cards-*/

.parrafo-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #000000;
}

p {
    color: #000000;
    line-height: 1.6;
}

/*footer*/


footer {
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
    text-align: center;
}

.contacto, .rights {
    margin-bottom: 15px;
}


@media (min-width: 1024px) {

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contacto, .rights {
        flex: 20;
        text-align: left;
    }
}
